<div class="form-actions">

	<form name="filter">
		<fieldset>
			<div class="form-group row">

				<div class="col-md-1">
					<div class="form-group row">
						<button name="tofirst" class="btn btn-success btn-sm reset" (click)="goToFirst()"> To First Day </button><br/>
						<button name="tolast" class="btn btn-success btn-sm reset" (click)="goToLast()"> To Last Day </button><br/>
						<button name="reset" class="btn btn-success btn-sm reset" (click)="onReset()"> Reset </button><br/>
						<button name="apply" class="btn btn-success btn-sm reload" (click)="onSubmit()"> Apply </button><br/>
						<button class="btn btn-success btn-sm reload" (click)="goBack()"  *ngIf="filter">Back</button><br/>
						<button class="btn btn-success btn-sm reload" (click)="goNext()"  *ngIf="filter">Next</button><br/>
					</div>
					<!-- <div class="form-group row"  *ngIf="filter">
						{{filter.start.format('DD/MM')}} - {{filter.end.format('DD/MM YYYY')}}
					</div> -->
				</div>
				<div class="col-md-3" *ngIf="filter">
					<div class="form-group row">
						<datepicker-ionic [expanded]="true" id="on1" [(ngModel)]="filter.start" [ngModelOptions]="{standalone: true}" singleSelect (onDateChange)="onSubmit()"></datepicker-ionic>
					</div>

					<div class="form-group row">
						<datepicker-ionic [expanded]="true" id="on2" [(ngModel)]="filter.end" [ngModelOptions]="{standalone: true}" singleSelect (onDateChange)="onSubmit()"></datepicker-ionic>
					</div>
				</div>

				<div class="col-md-2" *ngIf="accounts">
					<label for="normal-field" class="col-md-4 form-control-label text-md-right">From</label>

					<select [(ngModel)]="filter.accountId" [ngModelOptions]="{standalone: true}" name="accountId">
						<option [value]="">n/a</option>
						<option *ngFor="let item of accounts" [value]="item.id">{{item.name}}</option>
					</select>


				</div>
				<div class="col-md-2" *ngIf="accounts">
					<label for="normal-field" class="col-md-4 form-control-label text-md-right">To</label>

					<select [(ngModel)]="filter.contragentId" [ngModelOptions]="{standalone: true}" name="contragentId">
						<option [value]="">n/a</option>
						<option *ngFor="let item of accounts" [value]="item.id">{{item.name}}</option>
					</select>


				</div>
				<div class="col-md-3">

					<select [(ngModel)]="filter.limit" [ngModelOptions]="{standalone: true}" name="limit">
						<option *ngFor="let item of limits"  value="{{item}}" [selected]="item == filter.limit" >{{item}}</option>
					</select>

					<select [(ngModel)]="filter.type" [ngModelOptions]="{standalone: true}" name="type">
						<option *ngFor="let item of types"  value="{{item.value}}" [selected]="item.value == filter.type" >{{item.name}}</option>
					</select>


					<input type="text" name="amount" [(ngModel)]="filter.amount" placeholder="g0" [ngModelOptions]="{standalone: true}"/>
				</div>
			</div>

	</fieldset>
	</form>
</div>
